{% set lava_job_name = settings.LAVA_JOB_NAME or settings.CI_JOB_NAME %}
{% block device_setup %}
{% endblock %}

{% block test_definitions %}
{% for test in test_plan %}
{% include "tests/%s.yaml.jinja2" % test %}
{% endfor %}
{% endblock %}
