{% extends "base_device.yaml.jinja2" %}

{% block device_setup %}

device_type: r8a779f4-s4sk

job_name: {{ lava_job_name }}

timeouts:
  job:
    minutes: 60
  action:
    minutes: 60
  connection:
    minutes: 2

priority: medium
visibility: public

context:
  extra_kernel_args: "console_msg_format=syslog cma=560M ignore_loglevel"
  extra_nfsroot_args: ',vers=3'

{% set artifacts_base_url = dirname(dirname(os_url)) %}

actions:
- deploy:
    timeout:
      minutes: 5
    to: tftp
    failure_retry: 3
    kernel:
      url: {{ artifacts_base_url }}/artifacts/Image.bin
      type: image
    nfsrootfs:
      url: {{ artifacts_base_url }}/artifacts/ewaol-baremetal-image-s4sk.rootfs.tar.bz2
      compression: bz2
    dtb:
      url: {{ artifacts_base_url }}/artifacts/r8a779f0-s4sk.dtb

- boot:
    failure_retry: 3
    failure_retry_interval: 10
    timeout:
      minutes: 5
    method: u-boot
    commands: nfs
    auto_login:
      login_prompt: "s4sk login:"
      username: root
    prompts:
      - 'root@s4sk:'

{% endblock %}

