{% extends "base_device.yaml.jinja2" %}

{% block device_setup %}
device_type: xilinx-zcu102

job_name: {{ lava_job_name }}

timeouts:
  job:
    minutes: 60
  action:
    minutes: 20
  connection:
    minutes: 20

priority: medium

visibility: public

context:
  test_character_delay: 30

actions:

- deploy:
    to: downloads
    failure_retry: 3
    timeout:
      minutes: 60
    images:
      firmware:
        url: {{ firmware_url }}
        {%- set firmware_path, firmware_extension = splitext(firmware_url) %}
        compression: {{ firmware_extension[1:] }}
      os:
        url: {{ os_url }}
        {%- set os_path, os_extension = splitext(os_url) %}
        compression: {{ os_extension[1:] }}
      script:
        url: https://gitlab.com/Linaro/blueprints/ci/-/raw/HEAD/support_files/merge-images.py
      testexport:
        url: {{ testexport_url }}
    postprocess:
      docker:
        image: debian
        timeout:
          minutes: 60
        steps:
          {%- set firmware_basename = basename(firmware_path) %}
          {%- set os_basename = basename(os_path) %}
          - 'apt-get update'
          - 'apt-get install -qy fdisk gdisk coreutils python3'
          - 'sgdisk -pO {{ firmware_basename }}'
          - 'sgdisk -pO {{ os_basename }}'
          - 'python3 merge-images.py --hybrid=1:EE --output=zcu102.img {{ firmware_basename }} {{ os_basename }}'
          - 'sgdisk -pO zcu102.img'
          - dd if=/dev/urandom of=random_data.capsule bs=1K count=1K

- deploy:
    to: flasher
    failure_retry: 3
    timeout:
      minutes: 60
    images:
      image:
        url: downloads://zcu102.img
        partition: 2
        format: ext4
        overlays:
          lava: true

- boot:
    method: minimal
    timeout:
      minutes: 10
    auto_login:
      login_prompt: 'login:'
      username: 'root'
      login_commands:
        - sudo su -
    prompts:
      - ewaol@(.*):[/~]\$
      - root@(.*):[/~]#
{% endblock %}
